.main-wrapper {
  background: rgb(84, 77, 199);
  background: linear-gradient(63deg, rgba(84, 77, 199, 1) 0%, rgba(92, 92, 213, 1) 36%, rgba(255, 129, 254, 1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__content {
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 10px 15px 12px rgba(0, 0, 0, 0.1);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
  }

  @media (max-width: 400px) {
    .mat-mdc-card-header {
      padding: 0;
    }
  }
}

.open-dialog-currencies {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;

  img {
    width: 30px;
    height: 30px;
  }
}

.item {
  &__box {
    display: flex;
    gap: 10px;
  }

  &__def {
    color: green;
    width: 45px;

    &.minus {
      color: red;
    }
  }

  &__arr {
    width: 20px;
    height: 20px;
  }


}

.title {
  margin-bottom: 0;
}
